/*asterisk means everything*/
* {
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 10;
    
}


header {

    .logo {
        display: block;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
        width: 224px;
        height: 224px;
        object-fit: cover;
      }

      .inline {
        display: inline-block; 
      }

}


.parent div {
    position:relative;
}

.parent p {
    position: absolute;
    font-size: 16px;
    word-spacing: 1px;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    margin-bottom: -30px;
    z-index: 99;
    background-color: #1d1d1d;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 40px;
    grid-row-gap: 70px;
    /*width:50%;
      margin: auto;*/
    }

.parent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    .div1 { grid-area: 1 / 1 / 3 / 3; }
    .div2 { grid-area: 1 / 3 / 2 / 5; }
    .div3 { grid-area: 2 / 3 / 3 / 5; }
    .div4 { grid-area: 3 / 1 / 4 / 5; }
    .div5 { grid-area: 4 / 1 / 5 / 2; }
    .div6 { grid-area: 4 / 2 / 5 / 5; }
    .div7 { grid-area: 5 / 1 / 6 / 4; }
    .div8 { grid-area: 5 / 4 / 6 / 5; }
/*buttons*/

/* dropdown button start */

menu li {
    list-style: none;
   
  }
  
  menu {
    padding:0;

  }
  
  #main-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 200px;
  }
  
  menu button {
    font-size: 20px;
    color: #FDFDFD;
    font-family: "Ysabeau Infant", serif;
    background-color: transparent;
    border: 0;
  }
  
  menu button:hover {
    text-shadow: 0px 0px 10px #FDFDFD;
    font-weight: 700;
    font-size: 20px;
  }

  .dropdown {
   margin: 0; 
    position: absolute;
    display: none;
  }
  
  .dropdown-trigger:hover .dropdown {
    display: block;
  }
 
/* dropdown button end */


body {
    /**/
 
    background-color: #1d1d1d;
    color: #FDFDFD;
    font-size: 25px;
    font-family: "Ysabeau Infant", serif;
    width: 80%;
    margin: auto;
}

.ysabeau-infant-text {
    font-family: "Ysabeau Infant", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

p {
    color: white;
    font-size: 1.6vw;
    font-family: "Ysabeau Infant", serif;

}

p footer {
    align-items: center;
    font-style: italic;
}

/*a:link {
    color:#fdfdfd;
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
    text-decoration: none;
}
*/

a:link {
    font-size: 20px;
    color: #FDFDFD;
    font-family: "Ysabeau Infant", serif;
    font-weight: 200px;
    text-decoration: none;
    border: none;
    margin: 5px;
}

a:visited {
    color:#FDFDFD
}

a:hover {
    text-shadow: 0px 0px 10px #FDFDFD;
    font-weight: 700;
    font-size: 20px;

}


ul, ol {
    margin-left: 10px;
}

#unicorn {
    float: right;
}

.article-date {
    font-size: 16px;
    color:aquamarine;
    font-weight: bold;
}

#newsletter-subscribe {
    align-items: center;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 150px;
    background-color: beige;
    outline-width: 1px;
}

#newsletter-subscribe h2 {
    color:white;
    text-align: center;
    margin-bottom: 20px;
}

#newsletter-subscribe label {
    color: blue;
}

#newsletter-subscribe input {
    font-size: 18px;
    padding: 5px 10px;
    width: 200px;
    border-radius: 8px;
}

#newsletter-subscribe button {
    background-color: black;
    font-size: 18px;
    font-family: "";
    padding: 10px 20px;
    border: 3px solid white;
}

#newsletter-subscribe form {
    width: fit-content;
    margin: auto;
}

.article-flex {
    display:flex;
    gap:40px;
    flex-wrap: wrap; 
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.article-grid img {
    width: 100%;
}

#article-1 {
    /*where it starts on the grid, second is how much it spans*/
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

}

#article-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#article-3 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}

/* laptop break point size */

@media (max-width: 600px) {

    .parent {
        display:block;
    }
    
    main {
        width: 60%
    }

    nav {
        padding: 50px
    }
}